li{
    font-size:medium;
    color: darksalmon;
    text-align: left;
    display:inline;
    padding:20;
}
.ToHalfSide{
    text-align: left;
}
#Welc{
    color:darkseagreen;
    font-size:larger;
}
#vid{
    width:1000px;
    height:1000px;

}
.centering{
    text-align:center;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
}